/** Desktop first */
/* Lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 75px 1fr;
    grid-template-areas:
        "header header header"
        "form form form";
    width: 100%;
    height: 100vh;
}

.navbar {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 12px, 120px, 12px, 120px;
    border: 0, 0, 1px, 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 237px;
    height: 56px;
    margin-left: 7%;
}

.form-content {
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF8CA;
}

label {
    font-size: 16px;
    color: #333333AD;
}

.red-color {
    color: red;
}

input {
    height: 48px;
    padding: 4px 10px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #222325;
}

.forgot-password {
    margin-left: auto;
    margin-top: 5px;
    font-size: 16px;
    color: #333333AD;
    text-decoration: none;
}

.forgot-password:hover {
    color: #38bb45;
}

.authentication-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    gap: 16px;
}

.button {
    width: 100%;
    height: 42px;
    padding: 10px 26px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.login-button {
    background-color: #3ECF4C;
    color: #FFFFFF;
}

.login-button:hover {
    background-color: #38bb45;
}

.login-button:active {
    background-color: #3ECF4C;
}

.register-button {
    background-color: #E2FCD9CC;
    color: #3ECF4C;
}

.register-button:hover {
    background-color: #d5eecdcc;
    color: #3ECF4C;
}

.register-button:active {
    background-color: #E2FCD9CC;
}

.line-container {
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333AD;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: #FFFFFF;
    color: #333333AD;
    gap: 8px;
    border: 1px solid #e3e3e3;
}

.google-button:hover {
    background-color: #eeeeee;
}


/** For Mobile */
@media (max-width: 480px) {
    .navbar {
        padding: 16px, 24px, 16px, 24px;
    }

    .logo {
        width: 144.77px;
        height: 22.56px;
    }
}